body {
  background: #41c8f2 url('../images/background.png') bottom repeat-x;
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

form {
  padding: 5px 0;
}

.col {
  background-color: #fff;
}