body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #41c8f2 url('../images/background.png') bottom repeat-x;
}

main {
  flex: 1 0 auto;
}

form {
  padding: 5px 0;
}

.col {
  background-color: #fff;
}